/* css general (todas las paginas) */
.logotipo{
    zoom: 8%;
    opacity: 90%;
}

/* css del index.html */
.fondoindex{
    background-image: url('https://images7.alphacoders.com/108/thumb-1920-1081776.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh;
}
.tituloSitio{
    padding: 20vh 0;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 100px;
}
.subtituloSitio{
    text-align: center;
    position: fixed;
    left: 42.5vw;
    top: 42vh;
}

/* css de contacto.html */
.fondoContacto{
    background-image: url(/img/4ixw21xcxvb51.png);
    background-repeat: no-repeat;
    background-position-y: 10vh;
    background-position-x: center;
    background-color: black;
}
.formularioContacto{
   text-align: center;
}
.titulo_form_contacto{
    text-align: center;
    padding: 30px;
    color: white;
}

/* media query */
@media(max-width: 425px){
    /* css del index.html */
    .tituloSitio{
        font-size: 50px;
        left: 15vw;
    }
}
@media(max-width: 1024px){
    /* css de contacto.html*/
    .fondoContacto{
        background-size: 350px;
    }
}