/* css general (todas las paginas) */
.logotipo{
    zoom: 8%;
    opacity: 90%;
}

/* css del index.html */
.fondoindex{
    background-image: url('https://images7.alphacoders.com/108/thumb-1920-1081776.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh;
}
.tituloSitio{
    padding: 20vh 0;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 100px;
}
.subtituloSitio{
    text-align: center;
    position: fixed;
    left: 42.5vw;
    top: 42vh;
}

/* css de contacto.html */
.fondoContacto{
    background-image: url(/img/4ixw21xcxvb51.png);
    background-repeat: no-repeat;
    background-position-y: 10vh;
    background-position-x: center;
    background-color: black;
}
.formularioContacto{
   text-align: center;
}
.titulo_form_contacto{
    text-align: center;
    padding: 30px;
    color: white;
}

/* css de acerca_de.html */
.fondoabout{
    background-image: url(/img/8f4030e5e345f51f1c2bacaf410dacb4d4f8bd52.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-color: black;
}
.tarjeta{
    position: sticky;
}

/* media query */
@media(max-width: 425px){
    /* css del index.html */
    .tituloSitio{
        font-size: 50px;
        left: 15vw;
    }
    /* css del acerca_de.html */
    .fondoabout{
        background-position-y: 30vh;
    }
    .tarjeta{
        position: fixed;
        width: 300vw;
        right: -100vw;
    }
}
@media(max-width: 1024px){
    /* css de contacto.html*/
    .fondoContacto{
        background-size: 350px;
    }
}
@media(min-width: 2560px){
    /* css del acerca_de.html */
   .fondoabout{
       background-size: 1000px;
       background-position-y: 15vh;
   }
}